@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

/* font-family: 'Libre Franklin', sans-serif; */
:root{
    --color-primary-blue: hsl(223, 87%, 63%);
    --color-pale-blue: hsl(223, 100%, 88%);
    --color-light-red: hsl(354, 100%, 66%);
    --color-primary-grey: hsl(0, 0%, 59%);
    --color-dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    padding: 8rem 0;
}

.header {
    margin-bottom: 8rem;
}

.logo {
    display: block;
    margin: 0 auto;
}

.primary-heading {
    text-align: center;
    font-size: 4.8rem;
    margin-top: 4rem;
}

.primary-heading span {
    font-weight: normal;
    color: var(--color-primary-grey);
}

.notify {
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5rem;
    opacity: 0.7;
}

.subscribe {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.email {
    width: 400px;
    border-radius: 50px;
    padding: 1.8rem 3rem;
    font-size: 1.6rem;
    color: var(--color-pale-blue);
    border: none;
    border: 1px solid var(--color-pale-blue);
}

.email:focus {
    outline: none;
}

.submit {
    border: none;
    width: 200px;
    border-radius: 50px;
    color: #fff;
    background: var(--color-primary-blue);
    font-size: 1.7rem;
    cursor: pointer;
    padding: 1.8rem 6rem;
    font-weight: 500;
    box-shadow: 0px 10px 20px #c2d3ff;
}

.error-msg {
    display: block;
    font-style: italic;
    color: var(--color-light-red);
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-left: 2rem;
}

.main {
    max-width: 48%;
}

.main-img {
    display: block;
    width: 100%;
    
}

.footer {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 8rem;
}

.icons {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-primary-blue);
    margin-bottom: 3rem;
}

.icon {
    border: 1px solid var(--color-pale-blue);
    border-radius: 50%;
    padding: .7rem;
}



.icon:not(:last-child) {
    margin-right: 2.5rem;
}

.copyright {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-primary-grey);
}


@media (max-width: 768px) {
    body {
        padding: 10rem 0;
    }

    .logo {
        width: 20%;
    }

    .primary-heading {
        font-size: 2.5rem;
        margin-top: 6rem;
    }

    .notify {
        font-size: 1.3rem;
    }

    .subscribe {
        flex-direction: column;
        align-items: center;
    }

    .email {
        width: 300px;
        font-size: 1.3rem;
        padding: 1.5rem 3rem;
    }

    .submit {
        width: 300px;
        font-size: 1.2rem;
        font-weight: bold;
    }

   .main {
       max-width: 90%;
   }

   .footer {
       margin-top: 10rem;
   }

   .icons {
       font-size: 2rem;
       margin-bottom: 4rem;
   }

   .icon {
       padding: 1rem;
       width: 40px;
       height: 40px;
   }

   .icon:not(:last-child) {
    margin-right: 2rem;
}

   .copyright {
       font-size: 1.3rem;
   }

}



/* UTILITIES */
.m-auto {
    margin: 0 auto;
}